{% extends 'Layout.twig' %}

{% block title_page %}
Mi increible tienda online

<div class="panel panel-warning col-md-2 pull-right">
  <div class="panel-heading">
    <h3 class="panel-title">Mi Carrito</h3>
  </div>
  <div class="panel-body">
    <strong class="small">Productos</strong><div id="quantity" class="small">123</div>
    <strong class="small">Importe</strong><div id="total" class="small">123123</div>
    <a href="javascript:">
      <button type="button" name="my-car" class="pull-right btn btn-info">Ver Carrito</button>
    </a>
  </div>
</div>
{% endblock %}

{% block content %}
{% for producto in productos %}
  <div class="well col-md-4">
    <h3>{{ producto.nombre }}</h3>
    <h4>{{ producto.precio }}</h4>
    <button id="{{ producto.codigo }}"class="btn btn-success adding">Comprar</button>
  </div>
{% endfor %}
{% endblock %}

{% block closing_scripts %}
<script type="text/javascript">
  $(document).ready(function () {
    $(".adding").click(addingProduct);
  });

  /**
   * Agrega un producto al carrito y actualiza el total y la cantidad
   * de productos en el resumen.
   */
  function addingProduct() {
    console.log($(this).attr('id'));
    $.post("/add",{productCode: $(this).attr('id')}, function (response) {
      console.log(response);
      $("#quantity").text(response.quantity);
      $("#total").text(response.total);
    });
  }
</script>
{% endblock %}
